.text-red {
    color: red !important;
}

.save-group-btn {
    margin-right: 60%;
}

.save-student-btn {
    margin-right: 76%;
}

.mg-bottom-15px {
    margin-bottom: 15px;
}

.result-item {
    border: solid 1px;
    margin-bottom: 10px;
}

.result-text {
    margin-left: 10px;
}

.student-row {
    cursor: pointer;
}

.none-display {
    display: none;
}

.none-margin {
    margin: 0;
}

.update-student-btn-modal {
    margin-right: 74%;
}

.group-row {
    cursor: pointer;
}

.update-group-btn-modal {
    margin-right: 56%;
}

.logo {
    content: url(/csu.png);
    margin-bottom: -5px;
}

.action-btn {
    display: contents;
    color: #0d6efd;
}

.action-btn:hover {
    color: #0b5ed7;
}

.width-1-p {
    width: 1% !important;
}

.document-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.question-btn {
    display: contents;
    color: #17a2b8;
}

.question-btn:hover {
    color: darkcyan;
}

.resize-none {
    resize: none !important;
}

.mg-right-61-p {
    margin-right: 61%;
}

.mg-right-58-p {
    margin-right: 58%;
}

.mg-right-76-p {
    margin-right: 76%;
}

.mg-right-74-p {
    margin-right: 74%;
}

.cursor-pointer {
    cursor: pointer;
}